@model IEnumerable<HRMS_WEB.Entities.SubLevel>
@inject HRMS_WEB.DbOperations.ProjectRepository.IProjectRepository projectRepository;

@{
    ViewData["Title"] = "Sub levels";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sub levels</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Sub levels</li>
                    </ol>
                </div>
            </div>
            <div class="row p-0">
                <div class="col text-right">
                    <a asp-controller="SubLevel" asp-action="CreateSublevelForProject" asp-route-projectId=@ViewBag.projectId class="btn btn-outline-secondary">Create sub level</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col">
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body">
                    <div class="row d-flex align-items-stretch card-deck">
                        @if (Model.Any())
                        {
                            @foreach (var sublevel in Model)
                            {
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                    <div class="card bg-light">
                                        @if (sublevel.progressFraction == 0)
                                        {
                                            <div class="ribbon-wrapper ribbon-lg">
                                                <div class="ribbon bg-info">
                                                    New sub level
                                                </div>
                                            </div>}
                                        <div class="card-header text-muted border-bottom-0">
                                            @sublevel.Deadline
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h2 class="lead"><b>@sublevel.Name</b></h2>
                                                    <p class="text-muted text-sm"><b>Remark: </b> @sublevel.Remark </p>
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        @if (sublevel.User == null)
                                                        {
                                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Assigned to:<br /> N/A</li>
                                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: N/A</li>
                                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-stopwatch"></i></span> Assigned user name : N/A</li>
                                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-layer-group"></i></span> Priority Level : <span class="right badge badge-danger"><div style="font-size: 15px">@sublevel.PriorityLevel</div></span></li>
                                                        }
                                                        else
                                                        {
                                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Assigned to: @sublevel.User.Email</li>
                                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: @sublevel.User.PhoneNumber</li>
                                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-stopwatch"></i></span> Assigned user name : @sublevel.ManHours</li>
                                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-layer-group"></i></span> Priority Level : <span class="right badge badge-danger"><div style="font-size: 15px">@sublevel.PriorityLevel</div></span></li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <div class="round" data-value=@sublevel.progressFraction data-size="200" data-thickness="12">
                                                        <strong style="position: absolute; top: 50%; left: 50%; margin-top: -50px; transform: translate(-50%); font-size: 20px; color: #212121; font-weight: 500;"></strong>
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <a asp-controller="SubLevel" asp-action="Edit" asp-route-sublevelId=@sublevel.ID class="btn btn-sm btn-primary">
                                                    <i class="fas fa-edit mr-2"></i> Edit
                                                </a>
                                                @if (User.IsInRole("Admin")) { 
                                                    <a asp-action="DeleteSubLevel" asp-controller="SubLevel" asp-route-projectId=@ViewBag.projectId asp-route-id=@sublevel.ID class="btn btn-sm btn-danger">
                                                        Delete
                                                    </a>
                                                    }
                                            </div>
                                        </div>
                                    </div>
                                </div>} }
                        else
                        {
                            <h3 class="card-title">No sub levels found</h3>}


                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <h3 class="card-title">@Model.Count() Sub levels</h3>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
            <div class="card-secondary card">
                <div class="card-header">
                    Special tasks assigned for this project
                </div>
                <div class="card-body">
                    <div class="row d-flex align-items-stretch">
                        @foreach (var specialtask in projectRepository.GetSpecialTasksForProject(ViewBag.projectId))
                        {
                            if (!specialtask.IsFinished)
                            {
                                <div class="col-sm-6">
                                    <div class="info-box bg-maroon">
                                        <span class="info-box-icon"><i class="fas fa-clipboard-list"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number">Assigned user : @specialtask.User.Name</span>
                                            <span class="info-box-number">Status : Not Finished</span>
                                            <span class="info-box-more">Notified email : @specialtask.Email</span>
                                            <span class="info-box-more">Deadline : @specialtask.Deadline</span>
                                            <a asp-action="FinishSpecialTask" asp-controller="SubLevel" asp-route-id=@specialtask.ID asp-route-projectId=@ViewBag.projectId class="btn-sm bg-gradient-white mt-2 mb-2 mr-4" style="width: 150px"><b>Finish special task</b></a>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-6">
                                    <div class="info-box bg-gradient-success">
                                        <span class="info-box-icon"><i class="fas fa-check-circle"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number">Assigned user : @specialtask.User.Name</span>
                                            <span class="info-box-number">Status : Completed</span>
                                            <span class="info-box-more">Notified email : @specialtask.Email</span>
                                            <span class="info-box-more">Deadline : @specialtask.Deadline</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.min.js"></script>
<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>
<!-- Select2 -->
<!-- Select2 -->
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<script>
    $(document).ready(function () {

        $('.select2').select2({
            theme: 'bootstrap4'
        });

        $('.proceedbtn').click(function () {
            var pageindex = $('.pageinput').val();
            if (pageindex.toString() != "")
                location.href = "/SubLevel/Index/" + pageindex;
        });

        $('.round').circleProgress({
            fill: {
                gradient: ['#3aeabb', '#fdd250']
            },
            size: 100,
            thickness: 10,
        }).on('circle-animation-progress', function (event, progress, stepvalue) {
            $(this).find('strong').text(String(stepvalue.toFixed(2)).substr(2) + '%')
        });

    });</script>