@model HRMS_WEB.Viewmodels.WorkHourReportViewModel
@{
    ViewData["Title"] = "Monthly achievement report";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="overflow-x: scroll; min-width: 750px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Monthly Achievements of the draughtmen </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Monthly achievements</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-8">
                            <marquee> @Model.date.ToString("dddd, dd MMMM yyyy") (New Update! Rank will be calculated using both idle & worked hours ) <strong>&nbsp;&nbsp;&nbsp;&nbsp;First Place: @Model.LeaveViewModels.FirstOrDefault().Username</strong></marquee>
                        </div>
                        <div class="col-sm-4">
                            <form action="MonthDraughtmenSummary" method="post">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input type="date" class="form-control" asp-for="date" />
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="submit" class="btn btn-success btn-block" value="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Username
                                </th>
                                <th>
                                    <b>Working hours</b>
                                </th>
                                <th style="width: 40px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var dailyTarget = ViewBag.dailyTarget;
                                var monthlyTarget = ViewBag.monthlyTarget;
                            int index = 0;
                            }
                            @foreach (var item in Model.LeaveViewModels)
                            {
                            index++;
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Username)
                                        @if(index == 1) {
                                        <span class="badge" style=" background: #FFCC00; margin: 2px; padding: 5px">Rank 1</span>
                                        } else if ( index == 2) {
                                        <span class="badge" style=" background: #A9A9A9; margin: 2px; padding: 5px">Rank 2</span>
                                        } else if (index == 3) {
                                        <span class="badge " style=" background: #cd7f32; margin: 2px; padding: 5px">Rank 3</span>
                                        }

                                    </td>
                                    <td>
                                        <div class="col">
                                            <div class="progress-group">
                                                <small><b>Today worked hours</b> (Today Idle Hours : @String.Format("{0:0.00}", item.DailyIdleHours) Hours)</small>
                                                <span class="float-right">@String.Format("{0:0.00}", item.TodayWorkedHoursProgress * (dailyTarget) / 100) Hours /<b> @dailyTarget Hours</b></span>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar-striped bg-gradient-maroon" style="width: @item.TodayWorkedHoursProgress%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="progress-group">
                                                <small><b>This month worked hours</b> (Monthly Idle Hours : @String.Format("{0:0.00}", item.MonthIdleHours) Hours)</small>
                                                <span class="float-right">@String.Format("{0:0.00}", item.MonthWorkedHoursProgress * (monthlyTarget) / 100) Hours / <b>@monthlyTarget Hours</b></span>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar-striped bg-gradient-maroon" style="width: @item.MonthWorkedHoursProgress%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#">Actions</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a asp-controller="Home" asp-action="MonthDraughmentSummaryExcelExport" asp-route-date=@Model.date>Export view as csv</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->
<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script>

    var i = 0;

    $(document).ready(function () {
        $('.table').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
        });

    });
</script>